/* latin */
@font-face {
  font-family: 'charter';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/charter-400-italic.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'charter';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/charter-400-italic_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'charter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/charter-400-normal.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'charter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/charter-400-normal_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'charter';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/charter-700-italic.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'charter';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/charter-700-italic_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'charter';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/charter-700-normal.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'charter';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/charter-700-normal_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'fell';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/fell-400-italic.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'fell';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/fell-400-italic_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'fell';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/fell-400-normal.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'fell';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/fell-400-normal_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'gt-super';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/gt-super-400-normal.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'gt-super';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/gt-super-400-normal_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'noe';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/noe-display-500-normal.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'noe';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/noe-display-500-normal_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'opendyslexic';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/opendyslexic-400-italic.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'opendyslexic';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/opendyslexic-400-italic_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'opendyslexic';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/opendyslexic-400-normal.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'opendyslexic';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/opendyslexic-400-normal_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/sohne-300-italic.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/sohne-300-italic_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/sohne-300-normal.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/sohne-300-normal_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/sohne-400-italic.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/sohne-400-italic_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/sohne-400-normal.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/sohne-400-normal_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/sohne-500-italic.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/sohne-500-italic_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/sohne-500-normal.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/sohne-500-normal_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/sohne-700-italic.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/sohne-700-italic_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/sohne-700-normal.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/sohne-700-normal_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'source-code-pro';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/source-code-pro-400-italic.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'source-code-pro';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/source-code-pro-400-italic_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'source-code-pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/source-code-pro-400-normal.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'source-code-pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/source-code-pro-400-normal_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'source-code-pro';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/source-code-pro-700-italic.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'source-code-pro';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/source-code-pro-700-italic_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'source-code-pro';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/source-code-pro-700-normal.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'source-code-pro';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/source-code-pro-700-normal_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'source-serif-pro';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/source-serif-pro-400-italic.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'source-serif-pro';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/source-serif-pro-400-italic_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'source-serif-pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/source-serif-pro-400-normal.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'source-serif-pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/source-serif-pro-400-normal_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'source-serif-pro';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/source-serif-pro-700-italic.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'source-serif-pro';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/source-serif-pro-700-italic_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'source-serif-pro';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/source-serif-pro-700-normal.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'source-serif-pro';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/source-serif-pro-700-normal_1.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}